include README.rst
include CHANGES.rst
include LICENSE.rst
include pyproject.toml

include setup.cfg
include specutils/tests/coveragerc

recursive-include specutils *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
