name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
  schedule:
    # run every Wednesday at 5pm UTC
    - cron: '17 0 * * 3'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: Python 3.11 with remote data and coverage
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-cov
            toxargs: -v
            toxposargs: --remote-data=any

          - name: Python 3.12 (Windows)
            os: windows-latest
            python: '3.12'
            toxenv: py312-test

          - name: Python 3.11 (MacOS)
            os: macos-latest
            python: '3.11'
            toxenv: py311-test

          - name: Python 3.13 (MacOS)
            os: macos-latest
            python: '3.13'
            toxenv: py313-test

          - name: Python 3.11 with oldest supported version of key dependencies
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-oldestdeps

          - name: Python 3.13 with remote data
            os: ubuntu-latest
            python: '3.13'
            toxenv: py313-test
            toxargs: -v
            toxposargs: --remote-data=any

          - name: Python 3.14
            os: ubuntu-latest
            python: '3.14'
            toxenv: py314-test

          - name: Python 3.14 with remote data
            os: ubuntu-latest
            python: '3.14'
            toxenv: py314-test
            toxargs: -v
            toxposargs: --remote-data=any

          - name: Python 3.14 (macOS) with remote data
            os: macos-latest
            python: '3.14'
            toxenv: py314-test
            toxargs: -v
            toxposargs: --remote-data=any

          - name: Python 3.14 (Windows) with remote data
            os: windows-latest
            python: '3.14'
            toxenv: py314-test
            toxargs: -v
            toxposargs: --remote-data=any

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
    # TODO: Do we need --gcov-glob "*cextern*" ?
    - name: Upload coverage to artifacts
      if: ${{ contains(matrix.toxenv,'-cov') }}
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
      with:
        name: coverage_${{ matrix.toxenv }}.xml
        path: coverage.xml
        if-no-files-found: error

  upload-codecov:
    needs: [ tests ]
    permissions:
      contents: none
    runs-on: ubuntu-latest
    name: Upload Coverage
    steps:
    # work around CodeCov upload issue
    # see: https://github.com/codecov/codecov-action/issues/1801
    - uses: actions/checkout@v5
    - name: Download coverage artifacts
      uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
      with:
        path: coverage
        pattern: coverage_*
        merge-multiple: true
    - name: Upload report to Codecov
      if: ${{ hashFiles('coverage/') != '' }}
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7  # v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: coverage
        fail_ci_if_error: true
        verbose: true

  allowed_failures:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: (Allowed Failure) Python 3.12 with remote data and dev version of key dependencies
            os: ubuntu-latest
            python: '3.12'
            toxenv: py312-test-devdeps
            toxposargs: --remote-data=any

          # doctest failure due to different no. of significant digits on arm64 (#1146)
          - name: Python 3.12 (macOS)
            os: macos-latest
            python: '3.12'
            toxenv: py312-test

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
